@import "style.reset.css";
@import "style.css3.css";

/** handy selectors **/
.floatl { float: left; }
.floatr { float: right; }

/** body styles **/
body { background: #fefefe url(../img/default/background.png); font-size: 10px; height: 100%; padding: 40px 0 0 240px; }
@media screen {
  body > #header { position: fixed; }
	body > #sidebar { position: fixed; }
}
* html body { overflow: hidden; }
* html #body { height: 100%; overflow: auto; }
h1 { font-size: 27px; }

/** header **/
#header { height: 40px; width: 100%; background: #333 url(../img/default/header.png) repeat-x; position: absolute; top: 0; left: 0; z-index: 3; color: #fff; }
#header #logo { float: left; }
#header #account { float: right; }
#header #account ul { list-style: none; margin: 0; }
#header #account ul li { float: left; }
#header #account ul li:first-child { border-left: 1px solid #000; }
#header #account ul li a { display: block; color: #ccc; font-size: 12px; line-height: 40px; height: 40px; padding: 0 10px; border-left: 1px solid #555; border-right: 1px solid #000; text-shadow: 1px 0 #000; }
#header #account ul li a:hover { color: #fff; }

/** sidebar **/
#sidebar { height: 100%; width: 240px; position: absolute; top: 0; left: 0; z-index: 2; padding: 40px 0 0 0; }
#sidebar { background: #EEE; border-right: 1px none #d3d3d3; -moz-text-shadow: 0px 1px #fff; -webkit-text-shadow: 0px 1px #fff; -o-text-shadow: 0px 1px #fff; text-shadow: 0px 1px #fff; -moz-box-shadow: inset -4px 0 0 #DCDCDC; -webkit-box-shadow: inset -4px 0 0 #DCDCDC; -o-box-shadow: inset -4px 0 0 #DCDCDC; box-shadow: inset -4px 0 0 #DCDCDC; }
#sidebar ul { list-style: none; margin: 0; }
#sidebar ul li a { height: 40px; line-height: 40px; text-indent: 30px; display: block; text-decoration: none; font-weight: bold; font-size: 1.3em; }
#sidebar ul li a { border-right: 4px solid #D6D6D6; border-bottom: 1px solid #D6D6D6; color: #A7A7A7; background: #EEE; color: #7C7D7E; }
#sidebar ul li.current a,
#sidebar ul li a:hover { color: #000000; border-right-color: #808080; background: #E7E7E7; }
#sidebar ul li ul { display: none; }
#sidebar ul li.current ul { display: block; padding: 7px 0px; background-color: #F7F7F7; border-color: #D6D6D6; border-right: 4px solid #E2E2E2; border-bottom: 1px solid #d6d6d6; }
#sidebar ul li.current ul li a { height: 28px; line-height: 28px; text-indent: 52px; text-decoration: none; font-weight: normal; font-size: 1.2em; border: none; color: #7C7D7E; background: url(../img/default/submenu.png) 37px 11px no-repeat; }
#sidebar ul li.current ul li.current a,
#sidebar ul li.current ul li a:hover { background-color: transparent; border: none; color: #000; background-position: 37px -30px; }
#sidebar ul li.current ul li ul { border: none; margin: 0; padding: 0; }
#sidebar ul li.current ul li ul li a { margin-left: 12px; }

/** main **/
#main { margin: 30px 40px; }

/** block **/
.block { width: 100%; margin: 20px 0px 0px; overflow: hidden; }
.block { background: #ffffff; border: 1px solid #C4C7CA; -moz-box-shadow: 0px 5px 10px #C2C2C2; -webkit-box-shadow: 0px 5px 10px #C2C2C2; -o-box-shadow: 0px 5px 10px #C2C2C2; box-shadow: 0px 5px 10px #C2C2C2; }
.block.floatl,
.block.floatr { width: 49%; }
.block h2 { height: 35px; position: relative; background: url(../img/default/block-h2.png); line-height: 2.2em; padding: 0 10px; font-size: 1.5em; color: #2C2C2C; -moz-text-shadow: 0px 1px #fff; -webkit-text-shadow: 0px 1px #fff; -o-text-shadow: 0px 1px #fff; text-shadow: 0px 1px #fff; }
.block .content { padding: 1.0em; }

/** table **/
table.ui-table { width: 100%; text-align: left; }
table.ui-table thead tr td { font-weight: bold; color: #151515; font-size: 1.3em; padding-bottom: 2px; border-bottom: 1px solid #BDBDBD; }
table.ui-table tbody tr td { height: 30px; vertical-align: middle; border-bottom: 1px solid #dadada; border-top: 1px solid #ffffff; font-size: 1.3em; padding: 0 4px; }
table.ui-table tbody tr th { height: 30px; vertical-align: middle; border-bottom: 1px solid #dadada; border-top: 1px solid #ffffff; font-size: 1.3em; font-weight: bold; padding: 0 4px; }
table.ui-table tbody tr:nth-child(2n+1) td,
table.ui-table tbody tr:nth-child(2n+1) th { background-color: #F0F0F0; }
table.ui-table tr td input[type='checkbox'] { margin: 3px; }

/** fieldset **/
fieldset dl { margin: 0 0 1.0em 0; }
fieldset dl dt { margin: 0 0 0.25em 0; }
fieldset dl dt label { color: #666; font-size: 1.3em; }
fieldset dl dd { margin: 0 0 0.5em 0; padding: 0 10px 0 0; }
input[type='text'],
input[type='password'] { width: 100%; padding: 5px; font-size: 1.2em; border: 1px solid #DDDCDC; -moz-box-shadow: inset 1px 1px 5px #CBC9C9; -webkit-box-shadow: inset 1px 1px 5px #CBC9C9; -o-box-shadow: inset 1px 1px 5px #CBC9C9; box-shadow: inset 1px 1px 5px #CBC9C9; background: #ffffff; }

/** messages **/
.message { padding: 5px; background: #fff no-repeat 5px center; position: relative; margin: 0 0 10px 0; font-size: 12px; border-radius: 2px; }
.message.error { background-color: #FBB4B4; background-image: url(img/error.png); border: 1px solid #C21C1C !important; color: #C21C1C; }